グループ詳細画面
<div>
  グループ名：<%= @group.name %>
  参加メンバー：
  <% @users.each do |user| %>
    <%= user.nickname %>
  <% end %>
  お買い物リスト：
  在庫リスト：
</div>

<div>
  <%= link_to 'グループを編集する', edit_group_path(@group.id) %>
</div>