/* ヘッダー全体 */
.header{
  height: 40px;
  width: 100vw;
  background-color: pink;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

/* タイトル部分 */
.header__title-section{
  line-height: 40px;
  font-size: 25px;
}

.title{
  color: darkslateblue;
  text-decoration: none;
  font-family: 'Prata', serif;
  text-shadow: 1px 1px 1px white;
}

/* ユーザー名＆ログアウト・ログイン＆新規登録 */
.header__nav-section{
  line-height: 40px;
  font-size: 18px;
  font-family: 'BIZ UDPGothic', sans-serif;
  display: flex;
  justify-content: space-between;
}

.user-login, .user-logout{
  margin:0 15px;
  text-decoration: none;
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .header{
    height: 32px;
    padding: 0 32px;
  }
  
  /* タイトル部分 */
  .header__title-section{
    line-height: 32px;
    font-size: 20px;
  }
    
  /* ユーザー名＆ログアウト・ログイン＆新規登録 */
  .header__nav-section{
    line-height: 32px;
    font-size: 14px;
  }
  
  .user-login, .user-logout{
    margin:0 12px;
  }

}