<div>
  グループに追加するユーザーを検索してください。ニックネームまたはメールアドレスで検索することができます。
  ※検索結果に自分は表示されません！
</div>
<%= form_with(url: new_group_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :keyword, autofocus: true, placeholder: "ユーザーを検索", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>