/* ユーザー検索結果表示ページ */
.add-member__section{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px;
}

.add-member__title{
  font-size: 20px;
  text-align: center;
}

.add-member__name{
  margin-top: 15px;
  font-size: 18px;
  list-style: inside;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.actions li{
  margin-top: 25px;
}

.add-member-link{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}