<%= flash[:items_create] %>
在庫リスト

<% @items.each do |item| %>
  <div>
  <% if item.image.attached? %>
    <%= image_tag item.image.variant(resize: '200x150'), class: 'item-images' %>
  <% else %>
    <%= image_tag 'noimage.jpg', :size => '200x150' %>
  <% end %>
  memo : <%= item.memo %>
  </div>
<% end %>