<%= flash[:items_create] %>
在庫リスト

<% @items.each do |item| %>
  <div>
  <%= item.memo %>
  <%= item.priority.name %>
  <%= image_tag item.image.variant(resize: '100x100'), class: 'item-images' if item.image.attached? %>
  </div>
<% end %>